<nav class="p-4 w-full">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
    <li>
      <a routerLink="by-capital" routerLinkActive="btn-primary" class="btn">
        <app-svg-wrapper [svgTitle]="'capitalIcon'" />
        Por capital
      </a>
    </li>
    <li>
      <a routerLink="by-country" routerLinkActive="btn-primary" class="btn">
        <app-svg-wrapper [svgTitle]="'countryIcon'" />
        Por país
      </a>
    </li>
    <li>
      <a routerLink="by-region" routerLinkActive="btn-primary" class="btn">
        <app-svg-wrapper [svgTitle]="'regionIcon'" />
        Por region
      </a>
    </li>
  </ul>
</nav>
